<div class="jumbo">  {{!  the created component would be called Jumbo}}
  <div class="right tomster"></div>
  {{yield}}  {{!-- {{yield}} is the placeholder for content in which the jumbo component page would have--}}
</div>