<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      <span>About</span>
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      <span>Contact</span>
    </LinkTo>
    <LinkTo @route="form" class="menu-form">
      <span>List a property</span>
    </LinkTo>
  </div>
</nav>